<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mapper.UserMapper">

    <select id="findPwdByName" resultType="com.app.entity.User">
        SELECT
            password
        FROM
            t_user
        WHERE
            username = #{username}
    </select>

    <insert id="userInsert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user (nickname, username, password, sex, phone)
        VALUES(
            #{nickname},
            #{username},
            #{password},
            #{sex},
            #{phone})
    </insert>

    <select id="getUserInfo" resultType="com.app.entity.User">
        SELECT
            *
        FROM
            t_user
        WHERE
            username = #{name}
    </select>

    <insert id="submitAdvise" useGeneratedKeys="true" keyProperty="aid">
        INSERT INTO t_advise (uid, content, createTime)
        VALUES(
            #{uid},
            #{content},
            #{createTime}
        )
    </insert>

    <update id="Update">
        UPDATE
            t_user
        SET
            nickname = #{nickname},
            phone = #{phone},
            address = #{address},
            sex = #{sex}
        WHERE
            uid = #{uid}
    </update>
</mapper>